html {
    scroll-behavior: smooth;
}

body {
    background-color: blue;
    animation: changebg infinite 15s;
    padding-bottom: 100px;
    transition: all 0.25s;
    overflow-x: hidden;
    user-select: none;
}

@keyframes changebg {
    0% {
        background-color: rgb(6, 11, 16);
    }

    33% {
        background-color: rgba(25, 35, 48, 0.788);
    }

    66% {
        background-color: rgb(25, 107, 95);
    }

    100% {
        background-color: rgb(6, 11, 16)
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(27, 28, 31);
    ;
    border-radius: 10px;
}


.header-container {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.left-section {
    width: auto;
    display: flex;
    align-items: center;
}

.Discord-logo-pic {
    height: 47px;
    border-radius: 15px;
    margin-left: 40px;
}

.header-name {
    color: white;
    margin-left: 10px;
    font-size: 25px;
    font-family: Roboto, Arial;
    animation: changecolor infinite 15s;
}

@keyframes changecolor {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;
    }
}

.header-container-2 {
    background-color: rgb(54, 57, 63);
    width: 1300px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 7px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle-section {
    margin-right: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-Options {
    color: white;
    margin-left: 30px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.Header-Options:hover {
    text-decoration: underline;
}

.left-section div img {
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 15px;
}

.copy-tick-image {
    height: 25px;
    transition: all 0.25s;
}

.copy-image {
    height: 17px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
}

.left-section-option:hover .tooltip {
    opacity: 1;
}

.header-1{
    font-family: 'Open-sans', Arial;
    color: rgba(255, 255, 255, 0.849);
    border-bottom: 1px solid rgb(66, 70, 77);
    padding-top: 10px;
    font-size: 60px;
    margin-left: 30px;
    width: 300px;
}

.header-1-containor {
    background-color: rgb(54, 57, 63);
    width: auto;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: -60px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.para-1 {
    width: 560px;
    color: white;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 35px;
    font-family: Roboto, Arial;
}

.imaage-container {
    position: relative;
    top: -250px;
    left: 700px;
    z-index: 10;
}

.vscode-img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 200px;
    z-index: 10;
}

.box {
    position: absolute;
    top: -4.5px;
    left: -5px;
    z-index: -1;
    border-radius: 10px;
    --border-size: 3px;
    --border-angle: 0turn;
    width: 54vmin;
    height: 31vmin;
    background-color: rgb(179, 180, 180);
}

.quote-1-div {
    background-color: rgb(32, 34, 37);
    padding-left: 20px;
    padding-top: 20px;
    width: 500px;
    height: 80px;
    border-radius: 10px;
    padding-bottom: 10px;
    font-size: 23px;
}
.header-1-anchor,
.header-2-anchor,
.header-3-anchor,
.header-4-anchor,
.header-5-anchor,
.back-to-top-anchor {
    position: absolute;
    top: 20px;
}

.header-2-anchor {
    top: 550px;
}

.back-to-top-containor {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: orange;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: all 0.25s;
    z-index: 100;
}

.back-to-top-img {
    height: 40px;
    margin-left: 15px;
    margin-top: 13px;
    transition: all 0.25s;
}

.back-to-top-containor:hover .back-to-top-img {
    height: 50px;
}

.back-to-top-containor:hover {
    width: 80px;
    height: 80px;
}

.back-to-top-anchor {
    top: 0;
    left: 0;
}

/* The actual popup */
.popuptext {
    visibility: visible;
    width: 350px;
    height: 30px;
    background-color: rgb(54, 57, 63);
    position: absolute;
    z-index: 1;
    left: 30%;
    z-index: 100;
    left: -10px;
    top: 0px;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    background-color: rgb(54, 57, 63);
}

/* Toggle this class - hide and show the popup */
.footer-grid .show {
    visibility: hidden;
    width: 350px;
    height: 30px;
    background-color: rgb(54, 57, 63);
    position: absolute;
    z-index: 1;
    left: 30%;
    z-index: 100;
    left: -10px;
    top: 0px
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer-grid {
    position: absolute;
    top: 480px;
    right: 300px;
    cursor: pointer;
}

.active {
    opacity: 1;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}