.header-1-containor p {
    color: white;
    margin-left: 37px;
    font-size: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: 500px 500px;
}
.projects-container div {
    height: 85px;
    width: 430px;
    z-index: 20;
    margin-left: 37px;
    background-color: rgb(32, 34, 37);
    border-radius: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(95, 95, 95);
    display: grid;
    grid-template-columns: 80px 1fr;
}

.projects-container div img {
    height: 60px;
    border-right: 1px solid rgb(66, 70, 77);
    margin-top: 15px;
}

.projects-container div p {
    color: yellow;
    font-weight: bold;
    font-size: 25px;
}